(cors) {
    # Preflight-Requests (OPTIONS) - alle behandeln
    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header {
            Access-Control-Allow-Origin "{http.request.header.Origin}"
            Access-Control-Allow-Methods "GET,HEAD,OPTIONS"
            Access-Control-Allow-Headers "Origin,Accept,Content-Type,Authorization,X-Requested-With,Cache-Control,Pragma"
            Access-Control-Max-Age 86400
            Vary "Origin,Access-Control-Request-Method,Access-Control-Request-Headers"
        }
        respond "" 204
    }

    # Normale Requests: tatsächlichen Origin zurückspiegeln
    header Access-Control-Allow-Origin "{http.request.header.Origin}"
    header Vary Origin
}

localhost:80 {
	import cors

	reverse_proxy av-web-service:8080

	log stdout
}

avws.sogeo.services {
	tls stefan.ziegler.de@gmail.com
	#tls stefan.ziegler.de@gmail.com {
	#    ca https://acme-staging-v02.api.letsencrypt.org/directory
	#}

	import cors

	reverse_proxy av-web-service:8080

	log stdout
}
